.idea/
.vscode/
/coverage/
/vendor/
/logs/*
!/logs/README.md
/var/
/node_modules/
/public/assets
/k8s/**/*secrets.yml
/i18n/**/*.mo
.phpunit.result.cache
.phpunit.cache/
coverage.*.xml
.env
composer.lock
phpunit.xml
phpcs.xml
