<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    colors="true"
    defaultTestSuite="unit"
    bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <report>
            <clover outputFile="coverage.clover.xml"/>
            <cobertura outputFile="coverage.cobertura.xml"/>
        </report>
        <include>
            <directory suffix=".php">src</directory>
        </include>

    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="PHPUNIT_TEST_SUITE" value="1"/>
    </php>
</phpunit>
